<%- include('../partials/html-head.ejs') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css" />
<%- include('../partials/nav.ejs') %>

<main>
  <h1><%= title %></h1>
  <h2>Flight #<%= flight._id %></h2>
  <h3><%= flight.flightNo %></h3>
  <a href="/flight/ <%= flight._id %>/edit">
    <button>Edit Flight</button>
  </a>
</main>

<%- include("../partials/footer") %>