<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1>Flights</h1>
  <h2>Flight #<%= flight._id %></h2>
  <h3><%= flight.text %></h3>
  <a href="/flights">Go Back</a>
</main>

<%- include("../partials/footer") %>