<%- include('../partials/html-head.ejs') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css" />
<%- include('../partials/nav.ejs') %>

<main>
  <section>
    </div>
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight No: </div>
    <div><%= flight.flightNo %></div>
    <div>Departs: </div>
    <div><%= flight.departs %></div>
    <a href="/flights/<%= flight._id %>/edit">
      <button>Edit Flight</button>
    </a>
  </section>
</main>

<%- include("../partials/footer") %>