<%- include('../partials/html-head.ejs') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css" />
<%- include('../partials/nav.ejs') %>

<main>
  <section>
    </div>
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight No: </div>
    <div><%= flight.flightNo %></div>
    <div>Departs: </div>
    <div><%= flight.departs %></div>
    <div>Tickets:</div>
    <% if (flight.tickets.length) { %>
    <tbody>
      <tr>
      <% flight.tickets.forEach(function(ticket) { %>
        <td><%= ticket.seat %></td>
        <td><%= ticket.price %></td>
        <% }) %>
        <% } %>
      </tr>
  </tbody>
    <a href="/flights/<%= flight._id %>/edit">
      <button>Edit Flight</button>
    </a>
  </section>
  <h2>Tickets</h2>
  <form
    id="add-ticket-form" 
    action="/flights/<%= flight._id %>/tickets" 
    method="POST"
  >
  <section>
  <div>Seat:</div>
  <input name="seat" id="seat-input" required pattern="[A-F][1-9]\d?">
  <div>Price:</div>
  <input name="price" id="price-input" type="number">
  <button type="submit">Add Ticket</button>
  </form>
  </section>
  
</main>

<%- include("../partials/footer") %>